---
import Layout from "../layouts/Layout.astro"

const title = "Login"
---

<Layout pageTitle={title}>
  <form action="/login" method="POST" id="login-form">
    <label>
      Username: 
      <input type="text" name="username" required />
    </label>
    <label>
      Password:
      <input type="password" name="password" required />
    </label>
    <button type="submit" id="login-button">Log In</button>
  </form>
</Layout>

<style>
  label {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px;;
  }
  input {
    display: inline-block;
    width: 200px;
  }
  form {
    text-align: center;
  }
  button {
    margin-top: 20px;
    border: 0;
    background-color: tomato;
    color: white;
    border-radius: 5px;
    padding: 10px 16px;
  }
</style>

<script>

  const loginButton = document.querySelector("#login-button") as HTMLButtonElement;
  const loginForm = document.querySelector("#login-form") as HTMLFormElement;
  const usernameInput = loginForm.querySelector('input[name="username"]') as HTMLInputElement;
  const passwordInput = loginForm.querySelector('input[name="password"]') as HTMLInputElement;

  loginForm.addEventListener("submit", async (e) => {
    e.preventDefault();

    const res = await fetch("http://localhost:3600/login", {
      method: "POST",
      credentials: "include",
      headers: {"Content-Type" : "application/json"},
      body: JSON.stringify({
        username: usernameInput.value,
        password: passwordInput.value
      })
    })
    if(!res.ok) {
      window.location.href = "/login"
      return;
    }
    window.location.href = "/profile"
  })
</script>