---
import Layout from "../layouts/Layout.astro";

const title = "Profile";
---

<Layout pageTitle={title}>
  <div id="profile">
  </div>
</Layout>

<style>
#profile {
  text-align: center;
}
#profile p {
  font-family: sans-serif;
  font-size: 20px;
}

</style>

<script>
  const profileArea = document.querySelector("#profile") as HTMLDivElement;

  const render = async () => {
    const res = await fetch('http://localhost:3600/check-auth', {
      method: "GET",
      credentials: "include"
    })

    if(!res.ok) {
      alert("Something wrong");
      return;
    }
    const data = await res.json();
    const username = data.username;
    const firstname = data.firstname;
    const lastname = data.lastname;
    profileArea.innerHTML = `
      <p>Username: ${username}</p>
      <p>Firstname: ${firstname}</p>
      <p>Lastname: ${lastname}</p>
    `;
  }
  render()
</script>